.ipynb_checkpoints
.local
.cache
.bash_history
.icloud
.DS_Store

# tf files
variables.data-00000-of-00001
variables.index
saved_model.pb

# directories with large files
data/*
models/keras_checkpoints/*